<div class="header">
 <h1>GLOBOMAX EMPLOYEES APPLICATION</h1>
</div>

<script type="text/javascript">
  /*!
 * Ext JS Library 3.3.1
 * Copyright(c) 2006-2010 Sencha Inc.
 * licensing@sencha.com
 * http://www.sencha.com/license
 */

  Ext.onReady(function() {
      new Ext.Toolbar({
          renderTo: Ext.getBody(),
          items: [
              {
                  xtype: 'button',
                  icon: '../images/exticons/user.png',
                  text: 'Globomax dolgozók',
                  handler: function() {
                      Ext.Ajax.request({
                          url: 'employees/show_employees_list_window',
                          success: function(response){
                             var response_text = response.responseText;
                              eval(response_text);
                          },
                          failure: function(resp) {
                              Ext.Msg.alert('Hiba!', 'Probléma történt a válaszadáskor!!');
                          }
                      });
                  }
              },
              {
                  xtype: 'tbseparator'
              },
              {
                  xtype: 'button',
                  icon: '../images/exticons/systems.png',
                  text: 'Globomax rendszerek',
                  handler: function() {
                      Ext.Ajax.request({
                          url: 'globomaxsystems/globomax_system_list_window',
                          params: {
                              action : "no_more_window"
                          },
                          success: function(response) {
                              var response_text = response.responseText;
                              eval(response_text);
                          },
                          failure: function(resp) {
                              Ext.Msg.alert('Hiba!', 'Probléma történt a válaszadáskor!!');
                          }
                      });
                  }
              },
              {
                  xtype: 'tbseparator'
              },
              {
                  xtype: 'button',
                  text: 'Névjegy',
                  handler: function() {
                      Ext.Ajax.request({
                          url: 'abouts/show_about_window',
                          success: function(response){
                             var response_text = response.responseText;
                              eval(response_text);
                          },
                          failure: function(resp) {
                              Ext.Msg.alert('Hiba!', 'Probléma történt a válaszadáskor!!');
                          }
                      });
                  }
              },

              {
                  xtype: 'tbseparator'
              },

              {
                  xtype: 'button',
                  text: 'Céges gépkocsik nem megy!!!!',
                  handler: function() {
                      Ext.Ajax.request({
                          url: 'cars/list',
                          success: function(response){
                             var response_text = response.responseText;
                              eval(response_text);
                          },
                          failure: function(resp) {
                              Ext.Msg.alert('Hiba!', 'Probléma történt a válaszadáskor!!');
                          }
                      });
                  }
              },

              {
                  xtype: 'tbseparator'
              },

              {
                  xtype: 'button',
                  text: 'Simple Grid',
                  handler: function() {
                      Ext.Ajax.request({
                          url: 'cars/list_cars',
                          success: function(response){
                             var response_text = response.responseText;
                              eval(response_text);
                          },
                          failure: function(resp) {
                              Ext.Msg.alert('Hiba!', 'Probléma történt a válaszadáskor!!');
                          }
                      });
                  }
              }

          ]
      });
  });

</script>